<% provide(:title, "About") %>
<div class="container">
<%= form_with(url: static_pages_download_path, method: "get" ) do %>
  <%= label_tag(:q, "Youtube URL:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Download") %>
<% end %>
	
</div>